<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyIIMG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>486F406F1E4E15FE0049624F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486F40881E4E15FE0049624F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>486F40931E4E15FE0049624F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
